.maindiv{
    width: 1500px;
    height: auto;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    background-color: #fff;
}
.nav2{
    display: flex;
    margin-top: 10px;
}
.nav_p{
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color:#1F3F68;
    cursor: pointer;
}
.logo{
    width: 48px;
    height: 48px;
    margin-left: 50px;
}
.first_div{
    display: flex;
    height: 800px;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    opacity: 0.8;
    width: 1500px;
    margin: 0 auto;
    justify-content: center;
}
.div1_p1{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    width: 550px;
    font-weight: bold;
    color: #1F3F68;   
}
.div1_p2{
    font-family: 'Nunito', sans-serif;
    width: 430px;
    color: #1F3F68;
    margin-top: -20px;
}
.div1_button{
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 16px;
}
.div1_fonts{
    margin-top: auto;
    margin-bottom: auto;
}
.illustration{
    width: 690px;
    height: 580px;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 200px;
}
.seconddiv{
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.div2_p{
    font-size: 36px;
    width: 360px;
    font-family: 'Nunito', sans-serif;
    color: #316099;
    font-weight: bold;
    margin-left: -100px;
}
.div2_card{
    width: 385px;
    height: 520px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.man1{
    margin-left: 75px;
    width: 190px;
    height: 135px;
    margin-top: 50px;
}
.div2_p1{
    font-size: 20px;
    width: 260px;
    color: #1F3F68;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.div2_p2{
    width: 284px;
    font-family: 'Nunito', sans-serif;
    color: #1F3F68;
}
.learn_more{
    font-family: 'Nunito', sans-serif;
    color: #5A98D0;
    font-weight: bold;
}
.href{
    display: flex;
}
.div2_fonts{
    margin-left: 50px;
}
.div2_div2{
    margin-left: 100px;
}
.div3_p{
    width: 230px;
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #1F3F68;
}   
.thirddiv{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.div3_p2{
    font-family: 'Nunito', sans-serif;
    color: #1F3F68;
    width: 450px;
    margin-top: 45px;
    font-size: 16px;
    margin-left: 200px;
}
.div3_p{
    color: #1F3F68;
    margin-left: -10px;
}
.fourthdiv{
    width: 940px;
    height: 420px;
    background-image: url(img/Mask\ Group\ .png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;

}
.div4_p1{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-left: 560px;
    padding-top: 50px;
}
.div4_p2{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 3px;
    margin-left: 610px;
}
.div5_p1{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
}
.div5_p2{
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #fff;
    letter-spacing: 3px;
}
.fifthdiv{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1040px;
    display: flex;
    justify-content: space-around;
}
.footer{
    margin-top: 100px;
    width: 1560px;
    height: auto;
    background-color:#5A98D0;
    border-top-left-radius: 200px;
}
.ftr_p{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #fff; 
    width: 223px;  
    margin-top: 40px;
    font-weight: bold;
}
.ftr_p2{
    width: 500px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 16px;
    margin-top: 45px;
    margin-left: 50px;
}
.up{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}
.table{
    width: 1110px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 260px;
}
.table1{
    width: 1100px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-left: 265px;
}
.up2{
    margin-top: 50px;
    margin-left: -30px;
}
.ftr_up_p{
    font-size: 20px;
    color: #fff;
}
.more{
    width: 315px;
    height: 90px;
    background-color: #4E86BA;
    margin-top: -208px;
    margin-left: 1137px;
}
.down_ftr{
    width: 1270px;
    height: 870px;
    border-top-right-radius: 200px;
    background-color: #316099;
}
.down_up{
    width: 870px;
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.ftr_p{
    color: #fff;
    font-size: 36px;
    width: 320px;
}
.ftr_p2{
    font-size: 16px;
    color: #fff;
    width: 460px;
    height: 80px;
    margin-left: 0;
}
.footer_btn{
    width: 220px;
    height: 56px;
    background-color: #5A98D0;
    border-radius: 10px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 100px;
    margin-left: 200px;
}
.hr1{
    width: 1000px;
    margin-left: 0px;
}
.div5_div1{
    background-image: url(img/Mask\ Group\ \(2\).png);
    width: 430px;
    background-repeat: no-repeat;
}
.div5_div2{
    background-image: url(img/Mask\ Group3.png);
    width: 430px;
    height: 430px;
    background-repeat: no-repeat;
}
.logo_p{
    font-size: 30px;
    color: #fff;
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.logo_p1{
    font-size: 20px;
    color: #fff;
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.down_p{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 20px;   
    font-weight: bold;
}
.footer_p{
    width: 265px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-left: 10px;
    color: #fff;
    margin-top: 22px;
}
.down_down{
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}
.last_p{
    font-size: 17px;
    color: #fff;
    margin-left: 120px;
    margin-top: 120px;
}